<!DOCTYPE html>
<html>
<head>
    <title>Set New Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>


<div class="federal-header">
    <img src="/static/images/coat_of_arms.png" class="coat-logo">
    <div>
        <h1>Federal Republic of Nigeria</h1>
        <p>National Crime Intelligence & Risk Simulation System</p>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2>Set New Password</h2>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form method="post">
            <input type="password" name="new_password" placeholder="New Password" required>
            <button type="submit">Update Password</button>
        </form>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>
